USE [ITIExaminationSystem]
GO
/****** Object:  StoredProcedure [dbo].[GetStudentExamAnswers]    Script Date: 10/28/2025 7:16:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetStudentExamAnswers]
    @Exam_ID INT,
    @Student_ID INT
AS
BEGIN
    SELECT 
        q.Question_ID,
        q.Question_Description,
        q.Question_Type,
        q.Question_Model_Answer,
        sea.Student_Answer,
        sea.Student_Grade,
        sea.Exam_ID,
        sea.Student_ID
    FROM [ITIExaminationSystem].[dbo].[Question_Bank] q
    INNER JOIN [ITIExaminationSystem].[dbo].[Student_Exam_Answer] sea 
        ON q.Question_ID = sea.Question_ID
    WHERE sea.Exam_ID = @Exam_ID 
        AND sea.Student_ID = @Student_ID
    ORDER BY q.Question_ID;
END