USE [ITIExaminationSystem]
GO
/****** Object:  StoredProcedure [dbo].[GetExamQuestionsWithChoices]    Script Date: 10/28/2025 7:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetExamQuestionsWithChoices]
    @ExamNumber INT
AS
BEGIN
    SET NOCOUNT ON;

    -- First result set: Questions only (no duplicates)
    SELECT DISTINCT
        eq.Exam_ID,
        qb.Question_ID,
        qb.Question_Type,
        qb.Question_Description,
        qb.Question_Model_Answer
    FROM [ITIExaminationSystem].[dbo].[Exam_Questions] eq
    INNER JOIN [ITIExaminationSystem].[dbo].[Question_Bank] qb 
        ON eq.Question_ID = qb.Question_ID
    WHERE eq.Exam_ID = @ExamNumber
    ORDER BY qb.Question_ID;

    -- Second result set: Choices only
    SELECT 
        qb.Question_ID,
        qc.Question_Choice_ID,
        qc.Choice_Text,
        ROW_NUMBER() OVER (PARTITION BY qb.Question_ID ORDER BY qc.Question_Choice_ID) as ChoiceNumber
    FROM [ITIExaminationSystem].[dbo].[Exam_Questions] eq
    INNER JOIN [ITIExaminationSystem].[dbo].[Question_Bank] qb 
        ON eq.Question_ID = qb.Question_ID
    LEFT JOIN [ITIExaminationSystem].[dbo].[Question_Choice] qc 
        ON qb.Question_ID = qc.Question_ID
    WHERE eq.Exam_ID = @ExamNumber
    ORDER BY 
        qb.Question_ID,
        qc.Question_Choice_ID;
END